@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 4 - Assignment";
}

    <!--page title-->
    <h1 class="pinkfont">Mission 4 - Assignment</h1>
    <!--image-->
    <div class="background-image">
        <div class="transparent-background">
            <img src="img/kizy.jpeg" width="350" height="450" />
            <br />
        </div>
    </div>
    <!--text about things I want to learn from IS 413-->
    <h3 class="pinkfont">What I Hope to Get out of IS 413 Class</h3>
    <p>
        In a C# class, I hope to gain a solid understanding of the fundamentals of the language, including syntax, data types, variables, control structures, and object-oriented programming concepts.<br />
        I also want to learn how to write efficient and readable code, as well as how to debug and troubleshoot issues.<br />
        Additionally, I am interested in learning how to use C# to build applications, and I hope to get hands-on experience with real-world projects.
    </p>

    <!--list of top 3 jobs-->
    <h3 class="pinkfont">Top #3 Jobs I'm Interested</h3>
    <ul>
        <li>Data Science</li>
        <li>Software Engineer</li>
        <li>Data Analytics</li>
    </ul>

